.section-names {
  width: 90%;
  display: flex;
  justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}

:root {
    --results-columns: 1;
}

.grillas-names {
  width: auto;
  column-count: var(--results-columns);
  gap: 20px;
}

.item {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

@media (min-width : 500px) {
    :root {
      --results-columns: 2;
    }
  }
  
  @media (min-width : 700px) {
    :root {
      --results-columns: 3;
    }
  }
  
  @media (min-width : 1100px) {
    :root {
      --results-columns: 4;
    }
  }
  
  @media (min-width : 1400px) {
    :root {
      --results-columns: 5;
    }
  }
  
  @media (min-width : 1500px) {
    :root {
      --results-columns: 6;
    }
  }

